<aside class="bg-dark">
  <div class="container-fluid">
    <div class="call-to-action" id="map">

      <div class="row">

        <div class="col-lg-4 col-sm-6 text-center">


          </br>
          </br>

          <span class="fa-stack">
            <i class="fa fa-4x fa-map-o fa-stack-1x wow bounceIn text-primary"></i>
            <i class="fa fa-4x fa-map-marker fa-stack-2x wow bounceIn text-primary" style="color: yellow; margin-left: 20px"></i>
          </span>



          <h3>
            </br>
            Join the fun : </br></br>
            3D's Raceway</br>
            500 Tama Street </br>
            Slater,IA 50244
          </h3>
        </div>

        <div class="col-lg-4 col-sm-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d700.4709399227365!2d-93.68051056171966!3d41.87837630327555!2m2!1f0!2f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ee7e1506aa0fa3%3A0x73a13facdf3e8b5d!2s500+Tama+St%2C+Slater%2C+IA+50244!5e1!3m2!1sen!2sus!4v1503952375716"
            width="600"
            height="450"
            frameborder="0"
            style="border:0"
            allowfullscreen
            >
          </iframe>
        </div>

      </div>

    </div>
  </div>
</aside>
