<section class="bg-dark" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"> News & Updates </h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>2018 - New Track Layout!</h3>
                    <p class="text-muted">
                      3D's Raceway has undergone expansion this year and has a new layout!
                      </br>
                      The dirt has been re-worked to better support a wider range of RC's!
                    </p>
                </div>
              </br>
              </br>
                <a href="#" class="portfolio-box">
                    <img src="img/2018/2017-dec-snow.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                December 2017 Snow
                            </div>
                            <div class="project-name">
                                Can't wait to see what it looks like in 2018?
                              </br>
                                Come check it out!
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        </div>
    </div>
</section>
